QPushButton {
    background: black;
    color: white;
}

QPushButton:hover {
    border: 1px solid;
    border-color: white;
}

QPushButton#TOOLBAR_BUTTON {
    width: 70px;
    height: 70px;
    max-width: 70px;
}