QLineEdit {
    background: #242e42;
    color: white;
    font-family: Roboto; 
    font-size: 15px;
    border-radius: 5px;
    min-width: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

QLineEdit:focus {
    border: 2px solid white;
}