QListWidget {
    background: #2f3b52;
    border: None;
    min-height: 400px;
}

QListWidget::item {
    background: #242e42;
    margin-bottom: 5px; 
    border-radius: 5px;
}

QListWidget::item:hover {
    background: #bae8e8;
}

QListWidget::item:selected {
    background: #2c698d;
}