QStatusBar {
    color: white;
    font-family: Roboto; 
    font-size: 13px;
    font-weight: regular;
    padding-left: 20px;
    padding-bottom: 10px;
    
    background: transparent;
    height: 15px;
}