QTextBrowser#HELP_TEXT_WIDGET {
    color: white;
    font-family: Roboto; 
    font-size: 15px;
    font-weight: regular;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 150px;
    min-height: 80px;
    background-color: transparent;
    border: None;
}
